<header class="header-main header-gradient header-parralax" id="module" style="z-index: 1 !important;">
  <div class="wrapper header-body">
    <div>
      <h1 data-tilt 
          data-tilt-full-page-listening 
          data-tilt-perspective="1000" 
          data-tilt-gyroscope="true">
          {{ page.title }}</h1>
      <h2>{{ page.subtitle }}</h2>
    </div>
    <div>
      <a class="social-button" href="{{ site.social.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</header>
