<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Get in Contact</h5>
        <button type="button" class="close btn btn-danger" aria-label="Close" onclick="closeModal()">
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body">
        For any enquiries, you can send me an email at: olly@ojw.me
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>