<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <div class="row">
      <!-- image -->
      <div class="col center">
        <img class="img-thumbnail rounded-circle profile-img" src="/assets/img/profile.jpg">
        <hr>
        <!-- links -->
        <div class="row center">
          <div class="col-4 center"><a href="{{ site.social.linkedin }}"><i class="fab fa-linkedin icons"></i></a></div>
          <div class="col-4 center"><a href="mailto:{{ site.email }}"><i class="fa fa-envelope icons"></i></a></div>
          <div class="col-4 center"><a href="{{ site.social.spotify }}"><i class="fab fa-spotify icons"></i></a></div>
        </div>
        <p class="caption">University student working in the music industry.</p>
      </div>
    </div>
  </div>
</main>
