// BRAND TYPOGRAPHY SIZES

.typo-xl {
  font-size: 8em;
}
.typo-x {
  font-size: 5em;
}
.typo-m {
  font-size: 4em;
}
.typo-sm {
  font-size: 1.25em;
}
.subtitle {
  font-size: 1.25em;
}

@media only screen and (max-width: 960px) {
  .typo-xl {
    font-size: 6em !important;
  }
  .typo-x {
    font-size: 4em !important;
  }
  .typo-m {
    font-size: 3em !important;
  }
  .heading-pos-fix {
    margin-top: -140px;
  }
  .breakout {
    height: 400px !important
  }
}

@media only screen and (max-width: 720px) {
  .typo-xl {
    font-size: 5em !important;
  }
  .typo-m {
    font-size: 2.5em !important;
  }
  .heading-pos-fix {
    margin-top: -130px;
  }
  .breakout {
    height: 400px !important
  }
}

// SITE ELEMENTS 

hr {
  margin: 2em auto;
  border: 0;
  opacity: 100% !important;
}

hr.short {
  max-width: 5%;
  height: 3px;
  
  &-dark {
    color: #000;
  }
  
  &-light {
    color: #fff;
  }
}

.fac51 {
  height: 10px !important;
  background: repeating-linear-gradient(
    45deg,
    #FFD917,
    #FFD917 10px,
    #272727 10px,
    #272727 20px
  );
  width: 100%;
}

// SITE SETTINGS 

.breakout {
  left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
  height: 600px;
  object-fit: cover;
}

.paragraph-break {
  margin-bottom: 2em !important;
}

// ID SPECIFIC SETTINGS

#profile-card {
  margin: 2em 0;
}

#page-heading {
  margin: 6em 0;
  h1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: #0353A4;
  }
}

#page-content {
  margin-bottom: 4em;
}

#preview-list {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
  }

  ul li small {
    font-family: 'Assistant', Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }

  li:not(:last-child) {
    margin-bottom: 4em;
  }

  li a {
    text-decoration: none;
    color: inherit;
    width: fit-content;
  }

  small {
    color: $brand-blue-primary;
  }
}

.img-txt-container {
  display: flex;
  align-items: center;
  transition: 0.3s;

  img {
    opacity: 1;
    transition: 0.3s;
  }
}

.img-txt-container:hover {
  background-color: #ededed;

  img {
    opacity: .8;
  }

}



#portfolio-preview-content {
  small {
    color: $brand-blue-primary;
  }
}

#buy-me-coffee {
  background-color: rgba(255,217,23,0.8);
  border-radius: 10px;
  padding: 2em;
  margin-top: 4em;

  h1 {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2em;
  }
  p {
    text-align: center;
    margin-bottom: 1em;
  }
  a {
    display: block;
  }
}