/**
 * Colour line heading
 */
.site-header {
  border-top: 6px solid $brand-color;
  min-height: $spacing-unit;
  line-height: $base-line-height * $base-font-size * 2.25;
}

/**
 * Footer
 */

.pre-footer {
  text-align: center;
  font-size: 14px;
}

.footer {
  border-top: 1px solid $grey-color-light;
  margin-top: $spacing-unit;

  .container {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .contents {
    text-align: center;
  }
}

/**
 * Buttons
 */

#social-icons {
  text-align: center;
  ul.align {
    text-align: center;
  }
  ul li {
    display: inline-block;
    zoom:1;
  }

  .button {
    margin-right: 10px;
    font-size: 28px;
    font-weight: bold;
    vertical-align: middle;
    color: $brand-color !important;

    :hover {
      transform: scale(1.1);
    }
  }
}

#videos {
  ul {
    list-style-position: inside;
    list-style-type: none;
  }
  li {
    margin: 3px 0px;
  }
}

/**
 * Content
 */

h1.name {
  text-align: center;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.profile-img {
  height: 25%;
  width: 25%;
  display: block;
  margin: auto;
}

.card {
  margin-top: 16px;
  margin-bottom: 16px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.35s;

  .row {
    display: flex;
  }
  .col-9 {
    flex: 9;
    order: 2;
    .card-body {
      padding-left: 0px;
    }
  }
  .col-3 {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #title {
    margin-top: 12px;
  }
  #description {
    margin-right: 12px;
  }

  #icon {
    font-size: 50px;
    @media screen and (max-width: 576px) {
      font-size: 42px;
    }
    margin-bottom: 0px;
  }
}

/* On mouse-over, add a deeper shadow */
.card {
  transition: transform 0.35s; /* Animation */
  #icon {
    transition: transform 350ms;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.01);

  /* Animate the emoji when hovered */
  #icon {
    transform: scale(1.15);
  }
}

/**
 * Icons
 */

.icons {
  color: $brand-color !important;
  font-size: 36px;
  margin-right: 10px;
}