/* MAIN */ 

body {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  margin: 0;
  background-size: 200% 200%;

  -webkit-animation: gradientAnimator 15s ease infinite;
  -moz-animation: gradientAnimator 15s ease infinite;
  animation: gradientAnimator 15s ease infinite;

  @-webkit-keyframes gradientAnimator {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes gradientAnimator {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes gradientAnimator { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

h1 {
  color: white;
  font-family: 'Assistant';
  font-weight: 800;
  font-size: 12vw;
  letter-spacing: -4px;
  @media screen and (max-width: 480px) {
    font-size: 14vw;
    letter-spacing: -2px;
    text-align: left;
  }
}

h2 {
  color: white;
  font-family: 'Assistant';
  font-weight: 800;
  font-size: 4vw;
  @media screen and (max-width: 480px) {
    font-size: 10vw;
    text-align: left;
  }
}

.icon {
  color: white;
  font-size: 4vw;
  @media screen and (max-width: 480px) {
    font-size: 16vw;
    text-align: left;
  }
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.container {
  display: table;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  width: $content-width;
}

.content-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
}

/* TODO 

.portfolio-container {
  margin-top: 50px;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  font-size: 46px;
  color: white;
}

*/