---
layout: default-ns
---
  {{ content }}

  {%- if site.categories.posts.size > 0 -%}
    <div class="site-banner"">
      <h1 class="page-title">{{ page.title | downcase}}</h1>
    </div>
    <ul class="post-list">
      {%- for post in site.categories.posts -%}
      {%- if post.archive == true -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <!-- tag -->
          {%- if post.archive == true -%}
            <span class="badge badge-pill badge-secondary">Archived</span>
          {%- endif -%}
          &thinsp;
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
