{% assign today_date = 'now' | date: "%d, %B" %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1 class="name">{{ page.title }}</h1>
        <hr>
        <p>{{ content }}</p>
        <br>
        <a class="button" href="/"><i class="fas fa-arrow-alt-circle-left"></i></a>
      </div>
    </main>
    {%- include footer.html -%}

  </body>

</html>
