<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div class="row justify-content-center">
        <div id="page-heading" class="col-md-12">
          <h1 class="brand-adjust typo-xl">{{ page.title }}</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div id="page-content" class="col-xl-6 align-self-center">
          <p>{{ content }}</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div id="preview-list" class="col-xl-6 align-self-center">
          <ul>
            {% for post in site.categories.blog %}
              <li>
                <a href="{{ post.url }}">
                  <div class="row justify-content-center">
                    <div class="col-xl-2 align-self-center">
                      <i class="{{ post.icon_id }} fa-3x"></i>
                    </div>
                    <div class="col-xl-10 align-self-center">
                      <h1>{{ post.title }}</h1>
                      <small>{{ post.date | date_to_long_string }}</small>
                    </div>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
