{% include default.html %}

<body class="alpha">
  <div class="container">
    <div class="row">
      <div class="col splash" id="splash">
        <h1>{{ content }}</h1>
        <hr>
        <div class="row" id="icons">
          <div class="col center">
            <a href="{{page.linkedin}}"><i class="icon icons fab fa-linkedin"></i></a>
          </div>
          <div class="col center">
            <a href="mailto:{{page.email}}"><i class="icon icons fa fa-envelope"></i></a>
          </div>
          <div class="col center">
            <a href="{{page.spotify}}"><i class="icon icons fab fa-spotify"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
