---
layout: default
---

<div class="home">

  {{ content }}

  {%- if site.categories.posts.size > 0 -%}
    <div class="site-banner">
      <h1 class="banner-heading">blog</h1>
    </div>
    <ul class="post-list">
      {%- for post in site.categories.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <!-- tag -->
        {%- if post.tag == "post" -%}
          <span class="badge badge-pill badge-primary">Post</span>
        {%- endif -%}
        {%- if post.tag == "comment" -%}
          <span class="badge badge-pill badge-success">Comment</span>
        {%- endif -%}
        {%- if post.tag == "essay" -%}
          <span class="badge badge-pill badge-warning">Essay</span>
        {%- endif -%}
        {%- if post.tag == "announcement" -%}
          <span class="badge badge-pill badge-danger">Announcement</span>
        {%- endif -%}
        &thinsp;
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
