{% assign today_date = 'now' | date: "%d, %B" %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div id="videos" class="wrapper">
        <h1 class="name">{{ page.title }}</h1>
        <ul>
          {% assign sorted = site.categories.videos | sort: "stickiness" %}
          {%- for post in sorted -%}
            <li>
              <a id="video-list" href="{{post.embed}}">{{post.title}}</a>
              {%- if post.tag == "video" -%}
                &nbsp;<span class="badge badge-primary">Video</span>
              {%- elsif post.tag == "design" -%}
                &nbsp;<span class="badge badge-success">Design</span>
              {%- elsif post.tag == "web" -%}
                &nbsp;<span class="badge badge-warning">Web</span>
              {%- elsif post.tag == "marketing" -%}
                &nbsp;<span class="badge badge-info">Marketing</span>
              {%- else -%}
                &nbsp;
              {%- endif -%}
            </li>
            <blockquote>{{post.content}} {{post.date | date_to_long_string}}</blockquote>
          {%- endfor -%}
        </ul>
        <br>
        <a class="button" href="/"><i class="fas fa-arrow-alt-circle-left"></i></a>
      </div>
    </main>
    {%- include footer.html -%}

  </body>

</html>
