<html>
  {%- include head.html -%}
  <body id="page">
    <main class="container">
      <div class="content-container">
        <h1>{{ page.strapline }}</h1>
        <h3 class="tagline">{{ page.tagline }}</h3>
        <h3><i class="fas fa-video fa-sm icon"></i> <strong>video.</strong></h3>
        {%- if site.categories.entries.size > 0 -%}
          {%- for post in site.categories.entries -%}
          <ul>
            <li>
              <a href="{{ post.embed }}">{{ post.title | escape }}</a>
            </li>
          </ul>
          {%- endfor -%}
        {%- endif -%}
        <h3><i class="fas fa-code fa-sm icon"></i> <strong>dev.</strong></h3>
        <ul>
          <li>
            <a href="{{ site.url }}">This website!</a>
          </li>
        </ul>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
