---
layout: default-ns
---
{%- if site.categories.playlists.size > 0 -%}
  <div class="site-banner">
    <h1 class="page-title">{{ page.title | downcase}}</h1>
  </div>
  <hr>
  {{ content }}
  <br>
  <div class="container">
    <div class="row flex-column-reverse flex-sm-row">
      {%- for post in site.categories.playlists -%}
      <div class="col-sm-12 col-md-4 order-last">
        <a href="{{ post.link }}"><img src="/assets/img/{{ post.img }}" class="img-thumbnail"></a>
        <h3>{{ post.title }}</h3>
        <span class="post-meta meta">{{ post.content }}</span>
      </div>
      {%- endfor -%}
    </div>
    <div class="w-100"></div>
    <hr>
  </div>
{%- endif -%}