<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container gx-4">
      {% include header.html %}
      <div class="row justify-content-center">
        <div id="page-heading" class="col-sm-12 col-md-8 col-lg-6">
          <h1 class="d-mod d-mod-xl d-mod-margin-remove">{{ page.title }}</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div id="preview-list" class="col-sm-12 col-md-8 col-lg-6 align-self-center">
          <ul>
            {% for post in site.categories.portfolio %}
              <li>
                <a href="{{ post.embed }}" target="_blank" rel="noopener">
                  <div class="img-txt-container">
                    <h2 class="">{{ post.title }}</h2>
                    <span class="badge bg-success">{{ post.role }}</span>
                    <img src="/assets/img/demo/{{ post.thumbnail }}" />
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
