<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container gx-4">
      {% include header.html %}
      <div class="row">
        <article id="blog-container" class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
          <div id="blog-header-img">
            <img class="heading-img breakout" src="/assets/img/posts/{{ page.heading-img }}" />
          </div>
          <div class="align-self-center" id="blog-container">
            <div id="blog-header">
              <small>{{ page.date | date_to_long_string }}</small>
              <h1 class="d-mod">{{ page.title }}</h1>
              <hr class="short short-dark">
              <h3 class="byline">{{ page.byline }}</h3>
            </div>
            <div id="blog-content">
              {{ content }}
            </div>
            <div id="buy-me-coffee">
              <h1>What do you think?</h1>
              <p>If you enjoyed my blog post, consider buying me a coffee milkshake. 🥤 It's just <strong>£4</strong> and the money goes towards more trips to the coffee shop <em>(where I write most of my work).</em></p>
              <a href="https://www.buymeacoffee.com/ollyw" target="_blank" class="btn btn-dark btn-lg" role="button">Buy me a coffee milkshake 🥤</a>
            </div>
          </div>
        </article>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
